<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>
    <unicorn>
      <configurations>
        <configuration name="Project.Hackathon" extends="Foundation.Serialization.Base" description="Hackathon definition items" dependencies="Foundation.*,Feature.*" patch:after="configuration[@name='Foundation.Serialization.Base']">
          <predicate>
            <include name="templates" database="master" path="/sitecore/templates/Project/Hackathon" />
            <include name="branches" database="master" path="/sitecore/templates/Branches/Project/Hackathon" />
            <include name="renderings" database="master" path="/sitecore/layout/renderings/Project/Hackathon" />
            <include name="placeholders" database="master" path="/sitecore/layout/Placeholder Settings/Project/Hackathon" />
            <include name="layouts" database="master" path="/sitecore/layout/layouts/Project/Hackathon" />
            <include name="content" database="master" path="/sitecore/content/Hackathon" />
            <include name="media" database="master" path="/sitecore/media library/Project/Hackathon" />
          </predicate>
        </configuration>
      </configurations>
    </unicorn>
  </sitecore>
</configuration>