<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/" xmlns:role="http://www.sitecore.net/xmlconfig/role/">
    <sitecore>
        <services>
            <register serviceType="ScDom.Feature.Account.Controllers.AccountController, ScDom.Feature.Account" implementationType="ScDom.Feature.Account.Controllers.AccountController, ScDom.Feature.Account" lifetime="Transient"/>
        </services>
    </sitecore>
</configuration>