<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
    <sitecore>
        <unicorn>
            <configurations>
                <configuration name="Feature.Account" extends="Foundation.Serialization.Base" description="Hackathon definition items" dependencies="Foundation.*,Feature.*" patch:after="configuration[@name='Foundation.Serialization.Base']">
                    <predicate>
                        <include name="templates" database="master" path="/sitecore/templates/Feature/Account" />
                        <include name="renderings" database="master" path="/sitecore/layout/renderings/Featute/Account" />
                    </predicate>
                </configuration>
            </configurations>
        </unicorn>
    </sitecore>
</configuration>